<div class="jumbotron text-center" style="background-color:white">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">@ViewBag.CheckoutCompleteMessage.<strong>Please check your email</strong> for further updates about you order.</p>
    <hr>
    <p>
        Having trouble? <a asp-controller="Contact" asp-action="Index">Contact us</a>
    </p>
    <p class="lead">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Continue to homepage</a>
    </p>
</div>


